<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.steam_gamer.al_zaytoonahuniversity">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/zujico"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/zujico_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme" />
    </application>

</manifest>